In [1]:
x = 10
y = 20
x + y

30

In [2]:
x

10

In [3]:
# 定义成函数
def add_numbers(x,y):
    return x+y
add_numbers(10,20)

30

In [4]:
import datetime
print(datetime.datetime.now())#实现输出当前时间的功能

2020-02-13 21:37:14.411147

In [5]:
import datetime as dt
print(dt.datetime.now())

2020-02-13 21:37:14.548642

In [6]:
from datetime import datetime
print(datetime.now())

2020-02-13 21:37:14.703386

In [7]:
def add_numbers(x,y):
    return x+y
a = add_numbers
a(1,2)

3

In [8]:
def add_numbers(x,y,z=None):
    if(z==None):
        return x+y
    else:
        return x+y+z
print(add_numbers(10,20))
print(add_numbers(10,20,30))

30
60

In [9]:
def add_numbers(x,y,z=None,flag=False):
    if(flag):
        print("flag is true!")
    if(z==None):
        return x+y
    else:
        return x+y+z
print(add_numbers(10,20,flag=True))

flag is true!
30

In [10]:
type('This is a string')

str

In [11]:
type(None)

NoneType

In [12]:
type(1)

int

In [13]:
type(1.0)

float

In [14]:
type(add_numbers)

function

In [15]:
score = -1
if score<60 and score>0:
    print('不及格')
elif score>=60 and score<80:
    print('良')
elif score>=80 and score<=100:
    print('优')
else:
    print('缺考')

缺考

In [16]:
x = (1,'a',2,'b')
type(x)

tuple

In [17]:
x = [1,'a',2,'b']
type(x)

list

In [18]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [19]:
print("第一个元素: ",x[0])
print("倒数第二个元素: ",x[-2])
print("截取第二到第四个元素: ",x[1:3])
print("从第四个元素开始截取: ",x[3:])

第一个元素:  1
倒数第二个元素:  b
截取第二到第四个元素:  ['a', 2]
从第四个元素开始截取:  ['b', 3.3]

In [20]:
list1=[3,5,3,7,9,2,7,11,9]

In [21]:
list1[1:5] 
#list[start:stop] 包含start 不包含stop

[5, 3, 7, 9]

In [22]:
list1[:5] #从0开始

[3, 5, 3, 7, 9]

In [23]:
list1[3:] #到末尾结束

[7, 9, 2, 7, 11, 9]

In [24]:
list1[3:4]=[1,1]
list1

[3, 5, 3, 1, 1, 9, 2, 7, 11, 9]

In [25]:
list1[-4:]

[2, 7, 11, 9]

In [26]:
list1[-4:-2]

[2, 7]

In [27]:
list1[::2]

[3, 3, 1, 2, 11]

In [28]:
list1[::-1]

[9, 11, 7, 2, 9, 1, 1, 3, 5, 3]

In [29]:
aList = [123, 'xyz', 'zara', 'abc']
aList.append(2009)
aList

[123, 'xyz', 'zara', 'abc', 2009]

In [30]:
aList = [123, 'xyz', 'zara', 'abc']
aList.insert(3,2009)
aList

[123, 'xyz', 'zara', 2009, 'abc']

In [31]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz']
aList.remove('xyz')
aList

[123, 'zara', 'abc', 'xyz']

In [32]:
aList.remove('abc')
aList

[123, 'zara', 'xyz']

In [33]:
x = ('Zhejiang','Ningbo','ruanjianxueyuan')
province, city, academy = x

In [34]:
province

'Zhejiang'

In [35]:
x = ('Zhejiang','Ningbo','ruanjianxueyuan','an error')
province, city, academy = x

ValueError: too many values to unpack (expected 3)

In [36]:
x = {'province':'Zhejiang','city':'ningbo'}
x['city']

'ningbo'

In [37]:
x['city'] = 'hangzhou'
x['city']

'hangzhou'

In [38]:
x = {'province':'Zhejiang','city':'ningbo'}
x['name']

KeyError: 'name'

In [39]:
x = [1,'a',2,'b',3.3]
for item in x:
    print(item)

1
a
2
b
3.3

In [40]:
for index in range(len(x)):
    print(x[index])

1
a
2
b
3.3

In [41]:
x = {'province':'Zhejiang','city':'ningbo'}
for key in x:
    print(key)

province
city

In [42]:
for key,value in x.items():
    print(key)
    print(value)

province
Zhejiang
city
ningbo

In [43]:
#遍历所有值-方法1
for value in x.values():
    print(value)

Zhejiang
ningbo

In [44]:
#遍历所有值-方法2
for key in x:
    print(x[key])

Zhejiang
ningbo

In [45]:
range(5)

range(0, 5)

In [46]:
for i in range(5):
    print(i)

0
1
2
3
4

In [51]:
list(range(5))

[0, 1, 2, 3, 4]

In [52]:
list(range(0)) # 生成空列表

[]

In [53]:
list(range(0,30,5)) # 从0到30且不含30，步长为5

[0, 5, 10, 15, 20, 25]

In [54]:
list(range(0,10,2)) # 从0到10且不含10，步长为2

[0, 2, 4, 6, 8]

In [55]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [56]:
list(range(1,0))

[]

In [59]:
seanson = ['Spring','Summer','Fall','Winner']
list(enumerate(seanson))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winner')]

In [60]:
list(enumerate(seanson, start=1))

[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winner')]

In [62]:
#合并两个列表，以列表类型输出，元素个数不同时，去最小长度进行组合
list_str = ['a','b','c','d','e']
list_num = [1,2,3,4]
list_new = zip(list_str,list_num)
list(list_new)

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [63]:
#合并两个字符串，以字典类型输出
str1 = 'abcd'
str2 = '1234'
list_new = zip(str1,str2)
dict(list_new)

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

In [64]:
nums = ['flowers','flow','flight']
for i in zip(*nums):
    print(i)

('f', 'f', 'f')
('l', 'l', 'l')
('o', 'o', 'i')
('w', 'w', 'g')

In [65]:
sorted([36,5,-12,9,-21])

[-21, -12, 5, 9, 36]

In [66]:
sorted([36,5,-12,9,-21],key=abs)

[5, 9, -12, -21, 36]

In [67]:
L = [('Bob',75),('Adam',92),('Bart',66),('Lisa',88)]
def by_score(t):
    return t[1]
L2 = sorted(L,key=by_score,reverse=True)
print(L2)

[('Adam', 92), ('Lisa', 88), ('Bob', 75), ('Bart', 66)]

In [70]:
province = 'Zhejiang ningbo ruanjian xueyuan'.split(' ')[0]
result = 'Zhejiang ningbo,ruanjian xueyuan,2020'.split(',')
year = 'Zhejiang ningbo,ruanjian xueyuan,2020'.split(',')[2]
print(province)
print(result)
print(year)

Zhejiang
['Zhejiang ningbo', 'ruanjian xueyuan', '2020']
2020

In [71]:
print('Python' + 3)

TypeError: can only concatenate str (not "int") to str

In [72]:
print('Python' + str(3))

Python3

In [73]:
sales_record = {
    'price':3.24,
    'num_item':4,
    'person':'Chris'
}
sales_statement = '{} bought {} item at a price of {} each for a total of {}'
print(sales_statement.format(sales_record['person'],
                             sales_record['num_item'],
                             sales_record['price'],
                             sales_record['num_item']*sales_record['price']))

Chris bought 4 item at a price of 3.24 each for a total of 12.96

In [78]:
import csv
#设置浮点数的精度为2
%precision 2 
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))#读取csv文件转换为列表
mpg[:3]

[OrderedDict([('mpg', '18'),
              ('cylinders', '8'),
              ('displacement', '307'),
              ('horsepower', '130'),
              ('weight', '3504'),
              ('acceleration', '12'),
              ('model_year', '70'),
              ('origin', '1'),
              ('name', 'chevrolet chevelle malibu')]),
 OrderedDict([('mpg', '15'),
              ('cylinders', '8'),
              ('displacement', '350'),
              ('horsepower', '165'),
              ('weight', '3693'),
              ('acceleration', '11.5'),
              ('model_year', '70'),
              ('origin', '1'),
              ('name', 'buick skylark 320')]),
 OrderedDict([('mpg', '18'),
              ('cylinders', '8'),
              ('displacement', '318'),
              ('horsepower', '150'),
              ('weight', '3436'),
              ('acceleration', '11'),
              ('model_year', '70'),
              ('origin', '1'),
              ('name', 'plymouth satellite')])]

In [79]:
len(mpg)

398

In [80]:
mpg[0].keys() #列名是由keys组成

odict_keys(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'name'])

In [81]:
# 计算汽车平均位移
sum(float(d['displacement']) for d in mpg) / len(mpg)

193.43

In [82]:
cylinders = set(d['cylinders'] for d in mpg)
#set返回数据集中汽车所具有的气缸数的唯一值
cylinders

{'3', '4', '5', '6', '8'}

In [84]:
#按气缸数对汽车进行分组，并计算每组的平均位移
dispByCyl = []
for c in cylinders:
    sumdisp = 0
    cyltypecount = 0
    for d in mpg:
        if d['cylinders'] == c:
            #统计汽车的位移
            sumdisp += float(d['displacement'])
            #统计同一气缸数的汽车数量
            cyltypecount += 1
    dispByCyl.append((c, sumdisp / cyltypecount))
dispByCyl.sort(key = lambda x: x[0])
dispByCyl

[('3', 72.50), ('4', 109.80), ('5', 145.00), ('6', 218.14), ('8', 345.01)]

In [85]:
import datetime as dt
import time as tm

In [86]:
tm.time() #获取当前时间戳

1581601321.64

In [87]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 2, 13, 21, 42, 2, 214281)

In [88]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2020, 2, 13, 21, 42, 2)

In [89]:
delta = dt.timedelta(days = 100) #创建一个100天的差值
delta

datetime.timedelta(days=100)

In [90]:
today = dt.date.today()

In [91]:
today - delta

datetime.date(2019, 11, 5)

In [92]:
today > today-delta

True

In [93]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [94]:
person = Person()
person.set_name('Christy Blue')
person.set_location('Sunset Boulevard , MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christy Blue live in Sunset Boulevard , MI, USA and works in the department School of Information

In [95]:
store1 = [10.00, 11.00, 12.34, 1.94]
store2 = [9.00, 11.10, 12.22, 2.01]
cheapest = map(min, store1, store2)
cheapest

In [96]:
for item in cheapest:
    print(item)

9.0
11.0
12.22
1.94

In [97]:
my_function = lambda a,b : a+b
my_function(1,2)

3

In [98]:
(lambda a,b : a+b)(1,2)

3

In [99]:
people = ['Dr. Christopher Brooks','Dr. kevyn Collins-Thompson',
          'Dr. VG Vinod Vydiswaran','Dr. Daniel Romero']
my_list = []
def split_title_and_name(person):
    return person.split()[0]+' '+person.split()[-1]
for person in people:
    my_list.append(split_title_and_name(person))

my_list

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [100]:
people = ['Dr. Christopher Brooks','Dr. kevyn Collins-Thompson',
          'Dr. VG Vinod Vydiswaran','Dr. Daniel Romero']
my_list = []
for person in people:
    res = lambda x: x.split()[0]+' '+x.split()[-1]
    my_list.append(res(person))

my_list

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']